@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

@layer base {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    scroll-behavior: smooth;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.ant-card-head-title{
  color: white;
}

.ant-card-body {
  border-top: #383838 1px solid;
}



.anticon-close-circle{
  color: rgba(255, 255, 255, 0.671) !important;

}

.ant-input::placeholder{
  color: rgba(255, 255, 255, 0.623);
}
.anticon{
  color: rgba(255, 255, 255, 0.733) !important;
}